In [109]:
import pandas as pd
ds=pd.read_csv("C:\\Users\\PREM SINGH RATHORE\\Desktop\\prem\\assignment5.csv",names=('c1','c2'))
ds

      c1     c2
0    Ram  Shyam
1  Shyam  Harry
2  Harry   Lucy
3   Lucy   Shiv
4   Shiv   Shiv
5   Jake   Hana
6   Hana  Beast
7  Beast  Beast
8  Shady  Shady
9    Nox    Nox

In [110]:
ds.c1

0      Ram
1    Shyam
2    Harry
3     Lucy
4     Shiv
5     Jake
6     Hana
7    Beast
8    Shady
9      Nox
Name: c1, dtype: object

In [111]:
ds.c2

0    Shyam
1    Harry
2     Lucy
3     Shiv
4     Shiv
5     Hana
6    Beast
7    Beast
8    Shady
9      Nox
Name: c2, dtype: object

In [112]:
b= ds.c1.count()
a=[]
for i in range (0,b):
    if(ds.c1[i]==ds.c2[i]):
        a.append(ds.c1[i])
    elif ds.c1[i]!=ds.c2[i]:
        a.append(ds.c1[i])
        for j in range(i+1,b+1):
            if ds.c1[j]!=ds.c2[j]:
                a.append(ds.c1[j])
            elif ds.c1[j]==ds.c2[j]:
                a.append(ds.c1[j])
                break;
    print(i , *a)
    a[:] = []

0 Ram Shyam Harry Lucy Shiv
1 Shyam Harry Lucy Shiv
2 Harry Lucy Shiv
3 Lucy Shiv
4 Shiv
5 Jake Hana Beast
6 Hana Beast
7 Beast
8 Shady
9 Nox